#włączenie mod_rewrite
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^index/?$ index.php?controller=index [L]

RewriteRule ^Grafik/?$ index.php?controller=Grafik [L]
RewriteRule ^Grafik/insert/?$ index.php?controller=Grafik&action=insert [L]
RewriteRule ^Grafik/delete/(\d+)/?$ index.php?controller=Grafik&action=delete&id=$1 [L]
RewriteRule ^Categories/showone/(\d+)/?$ index.php?controller=Categories&action=showone&id=$1 [L]
RewriteRule ^Categories/install/?$ index.php?controller=Categories&action=install [L]
RewriteRule ^Grafik/delete/(\d+)/?$ index.php?controller=Grafik&action=delete&id=$1 [L]
RewriteRule ^Categories/add/?$ index.php?controller=Categories&action=add [L]

RewriteRule ^Towar/?$ index.php?controller=Towar [L]
RewriteRule ^Towar/add/?$ index.php?controller=Towar&action=add [L]
RewriteRule ^Towar/insert/?$ index.php?controller=Towar&action=insert [L]
RewriteRule ^Towar/freeze/?$ index.php?controller=Towar&action=freezed [L]
RewriteRule ^Towar/delete/(\d+)/?$ index.php?controller=Towar&action=delete&id=$1 [L]

RewriteRule ^Zamowienie/?$ index.php?controller=Zamowienie [L]
RewriteRule ^Zamowienie/add/?$ index.php?controller=Zamowienie&action=add [L]
RewriteRule ^Zamowienie/insert/?$ index.php?controller=Zamowienie&action=insert [L]


RewriteRule ^Pracownicy/?$ index.php?controller=Pracownicy [L]
RewriteRule ^Pracownicy/delete/(\d+)/?$ index.php?controller=Pracownicy&action=delete&id=$1 [L]
RewriteRule ^Pracownicy/add/?$ index.php?controller=Pracownicy&action=add [L]
RewriteRule ^Pracownicy/insert/?$ index.php?controller=Pracownicy&action=insert [L]
RewriteRule ^Pracownicy/edit/(\d+)/?$ index.php?controller=Pracownicy&action=edit&id=$1 [L]
RewriteRule ^Pracownicy/update/?$ index.php?controller=Pracownicy&action=update [L]
RewriteRule ^Pracownicy/passReset/?$ index.php?controller=Pracownicy&action=passReset [L]
RewriteRule ^Pracownicy/passReset/(\d+)/?$ index.php?controller=Pracownicy&action=passReset&id=$1 [L]
RewriteRule ^Pracownicy/zmienAktywnosc/(\d+)/?$ index.php?controller=Pracownicy&action=zmienAktywnosc&id=$1 [L]
RewriteRule ^Pracownicy/reset/?$ index.php?controller=Pracownicy&action=reset [L]

RewriteRule ^AccessRoles/logform/?$ index.php?controller=AccessRoles&action=logform [L]
RewriteRule ^AccessRoles/login/?$ index.php?controller=AccessRoles&action=login [L]
RewriteRule ^AccessRoles/logout/?$ index.php?controller=AccessRoles&action=logout [L]

ErrorDocument 404 http://localhost/PZ/errors/404.html
