#włączenie mod_rewrite
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^index/?$ index.php?controller=index [L]


RewriteRule ^Koszyk/?$ index.php?controller=Towar&action=wKoszyku [L]
RewriteRule ^Koszyk/zrealizuj/?$ index.php?controller=Towar&action=zrealizuj [L]
RewriteRule ^Koszyk/usun/(\d+)/?$ index.php?controller=Towar&action=deleteKoszyk&id=$1 [L]
RewriteRule ^Koszyk/plus/(\d+)/?$ index.php?controller=Towar&action=iloscPlus&id=$1 [L]
RewriteRule ^Koszyk/minus/(\d+)/?$ index.php?controller=Towar&action=iloscMinus&id=$1 [L]

RewriteRule ^Categories/showone/(\d+)/?$ index.php?controller=Categories&action=showone&id=$1 [L]
RewriteRule ^Categories/install/?$ index.php?controller=Categories&action=install [L]
RewriteRule ^Grafik/delete/(\d+)/?$ index.php?controller=Grafik&action=delete&id=$1 [L]
RewriteRule ^Categories/add/?$ index.php?controller=Categories&action=add [L]


RewriteRule ^Cennik/?$ index.php?controller=Cennik [L]
RewriteRule ^Cennik/insert/?$ index.php?controller=Cennik&action=insert [L]
RewriteRule ^Cennik/insertNew/?$ index.php?controller=Cennik&action=insertNew [L]
RewriteRule ^Cennik/historiaCeny/(\d+)/?$ index.php?controller=Cennik&action=historiaCeny&id=$1 [L]
RewriteRule ^Cennik/zmienStanAktywnosc/(\d+)/?$ index.php?controller=Cennik&action=zmienStanAktywnosc&id=$1 [L]


RewriteRule ^Towar/?$ index.php?controller=Towar [L]
RewriteRule ^Towar/add/?$ index.php?controller=Towar&action=add [L]
RewriteRule ^Towar/edit/(\d+)/?$ index.php?controller=Towar&action=edit&id=$1 [L]
RewriteRule ^Towar/insert/?$ index.php?controller=Towar&action=insert [L]
RewriteRule ^Towar/freeze/?$ index.php?controller=Towar&action=freezed [L]
RewriteRule ^Towar/delete/(\d+)/?$ index.php?controller=Towar&action=delete&id=$1 [L]
RewriteRule ^Towar/showone/(\d+)/?$ index.php?controller=Towar&action=showone&id=$1 [L]
RewriteRule ^Towar/freeze/(\d+)/?$ index.php?controller=Towar&action=freeze&id=$1 [L]
RewriteRule ^Towar/unfreeze/(\d+)/?$ index.php?controller=Towar&action=unfreeze&id=$1 [L]
RewriteRule ^Towar/koszyk/(\d+)/?$ index.php?controller=Towar&action=koszyk&id=$1 [L]

RewriteRule ^Szukaj/?$ index.php?controller=SzukajTowar&action=search [L]

RewriteRule ^Zamowienia/?$ index.php?controller=Zamowienie&action=listaZamowien [L]
RewriteRule ^Zamowienia/faktura/(\d+)/?$ index.php?controller=Zamowienie&action=faktura&id=$1 [L]

RewriteRule ^Zamowienie/?$ index.php?controller=Zamowienie [L]
RewriteRule ^Zamowienie/add/?$ index.php?controller=Zamowienie&action=add [L]
RewriteRule ^Zamowienie/insert/?$ index.php?controller=Zamowienie&action=insert [L]

RewriteRule ^Kategoria/?$ index.php?controller=Kategoria [L]
RewriteRule ^Kategoria/Usun/(\d+)/?$ index.php?controller=Kategoria&action=delete&id=$1 [L]
RewriteRule ^Kategoria/Edytuj/(\d+)/?$ index.php?controller=Kategoria&action=edit&id=$1 [L]
RewriteRule ^Kategoria/Wstaw/?$ index.php?controller=Kategoria&action=insert [L]
RewriteRule ^Kategoria/showone/(\d+)/?$ index.php?controller=Kategoria&action=showone&id=$1 [L]

RewriteRule ^Klient/?$ index.php?controller=Klient [L]
RewriteRule ^Klient/update/?$ index.php?controller=Klient&action=update [L]
RewriteRule ^Klient/insert/?$ index.php?controller=Klient&action=insert [L]
RewriteRule ^Klient/szukaj/?$ index.php?controller=Klient&action=szukaj [L]


RewriteRule ^Statystyka/?$ index.php?controller=Statystyka [L]


RewriteRule ^Pracownicy/?$ index.php?controller=Pracownicy [L]
RewriteRule ^Pracownicy/delete/(\d+)/?$ index.php?controller=Pracownicy&action=delete&id=$1 [L]
RewriteRule ^Pracownicy/add/?$ index.php?controller=Pracownicy&action=add [L]
RewriteRule ^Pracownicy/insert/?$ index.php?controller=Pracownicy&action=insert [L]
RewriteRule ^Pracownicy/edit/(\d+)/?$ index.php?controller=Pracownicy&action=edit&id=$1 [L]
RewriteRule ^Pracownicy/update/?$ index.php?controller=Pracownicy&action=update [L]
RewriteRule ^Pracownicy/passReset/?$ index.php?controller=Pracownicy&action=passReset [L]
RewriteRule ^Pracownicy/passReset/(\d+)/?$ index.php?controller=Pracownicy&action=passReset&id=$1 [L]
RewriteRule ^Pracownicy/zmienAktywnosc/(\d+)/?$ index.php?controller=Pracownicy&action=zmienAktywnosc&id=$1 [L]
RewriteRule ^Pracownicy/reset/?$ index.php?controller=Pracownicy&action=reset [L]

RewriteRule ^AccessRoles/logform/?$ index.php?controller=AccessRoles&action=logform [L]
RewriteRule ^AccessRoles/login/?$ index.php?controller=AccessRoles&action=login [L]
RewriteRule ^AccessRoles/logout/?$ index.php?controller=AccessRoles&action=logout [L]

ErrorDocument 404 /pz/errors/404.html
